<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<nav th:fragment="menubar">
    <a href="#" target='_blank'>home</a> <!-- info -->
    <a href="http://34.64.37.137:8080/member/login" target='_blank'>SWS</a>
    <a href="http://34.64.37.137:9090" class="is-current" target='_blank'>Study</a>
    <a href="#" target='_blank'>#</a>
    <a href="#" target='_blank'>#</a>
    <div class="nav-underline"></div>
</nav>
</body>
</html>